body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}
.h1 {
  color: wheat;
  font-size: 32px;
  line-height: 10px;
}
.contact {
  margin-top: 100px;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    margin-bottom: 16px;
}
input{
    height: 45px;
}

form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
form .submit:hover{
    background: #f44336;
    cursor: pointer;
}